body {
    margin: 30px;
    overflow: hidden;
    position: relative;
    background: url('background4.jpg');
    background-size: cover;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
}

[class*="snowflake"]{
    position: relative;
    transform-origin: center;
    transform-box: fill-box;
    animation: snow_movement 6s ease-in-out infinite;
}

.snowflake1{
    top: 20px;
    left: 20px;
}

.snowflake2 {
    top: 200px;
    left: 250px;
    animation-delay: -5s;
}

.snowflake3 {
    top: 100px;
    left: 400px;
    animation-delay: -1s;
}

.snowflake4 {
    top: 220px;
    left: 550px;
    animation-delay: -2s;
}

.snowflake5 {
    top: 100px;
    left: 850px;
    animation-delay: -4s;
}

.snowflake6 {
    top: 300px;
    left: 900px;
    animation-delay: -3s;
}

.snowflake7 {
    top: 150px;
    left: 1000px;
    animation-delay: -1s;
}

.snowflake8 {
    top: 50px;
    left: 1300px;
    animation-delay: -5s;
}

.snowflake9 {
    top: 200px;
    left: 1400px;
    animation-delay: -6s;
}

.snowflake10 {
    top: 100px;
    left: 1500px;
    animation-delay: -2s;
}

.snowflake11 {
    top: 300px;
    left: 1550px;
    animation-delay: -4s;
}

.snowflake12 {
    top: 200px;
    left: 1650px;
    animation-delay: -4s;
}

.snowflake13 {
    top: 80px;
    left: 1750px;
    animation-delay: -4s;
}

[class*="part"]{
    position: absolute;
}

.part2{
    transform: rotate(60deg) translateX(10px) translateY(-6px);
}

.part3{
     transform: rotate(120deg) translateX(10px) translateY(-17px);
 }

.part4{
    transform: rotate(180deg) translateX(0px) translateY(-20px);
}

.part5{
    transform: rotate(-120deg) translateX(-10px) translateY(-17px);
}

.part6{
    transform: rotate(-60deg) translateX(-10px) translateY(-6px);

}

.edge {
    position: relative;
    display: block;
    background-color: lightblue;
    height: 20px;
    width: 3px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

[class*="hand"] {
    position: absolute;
    background-color: lightblue;
    height: 10px;
    width: 3px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    animation: snow_twinkle 1s ease infinite;

}

.hand1{
    left: 100%;
    transform: rotateZ(35deg);
}
.hand2{
    right: 100%;
    transform: rotateZ(-35deg);
}

[id*="star"]{
    transform-box: fill-box;
    transform-origin: center;
    animation: star_twinkle 3s linear infinite;
}

[id*="ball"]{
    transform-box: fill-box;
    transform-origin: center -20px;
    animation: ball_movement 1s linear infinite alternate;
}


@keyframes snow_twinkle {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(50%);
    }
}

@keyframes star_twinkle {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes snow_movement {
    from {
        transform: translateY(0) rotateY(0);
    }
    to {
        transform: translateY(100vh) rotateY(180deg);
    }
}

@keyframes ball_movement {
    from {
        transform: rotate(5deg);
    }
    to {
        transform: rotate(-5deg);
    }
}
